<!-- about.component.html -->
<div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card" style="border: 1px solid #ddd; border-radius: 8px;">
          <div class="card-body" style="padding: 20px;">
            <h2 class="card-title text-center">About Me</h2>
            <div class="text-center">
              <img src="https://najeemfasil.vercel.app/assets/img/introduction-visual.png" class="rounded-circle" alt="Profile Picture" style="width: 150px; height: 150px; object-fit: cover;">
            </div>
            <p class="card-text mt-4" style="margin-bottom: 1rem;">
              <strong>Name:</strong> Mohamed Najeem Fasil
            </p>
            <p class="card-text" style="margin-bottom: 1rem;     text-wrap: balance;">
              <strong>About:</strong> I am a passionate software developer with expertise in Angular, React, and various other technologies. I enjoy solving complex problems and working on innovative projects.
            </p>
            <p class="card-text" style="margin-bottom: 1rem;     text-wrap: balance;">
              <strong>Skills:</strong> Angular, React, TypeScript, JavaScript, CSS, HTML
            </p>
            <p class="card-text">
              <strong>Contact:</strong> You can reach me at <a href="mailto:najeemfasil1@gmail.com">Email</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  