@use '@angular/material' as mat;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// root adds variables to the CSS scope
@import "../node_modules/bootstrap/scss/root";

// reboot is optional, but most people use it
@import "../node_modules/bootstrap/scss/reboot";
@import '../assets/styles/input';
@import '../assets/styles/table';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));


h1,h2,h3,h4,h5{
  color: #262c40;
}